/* Inputs */
.flex-input-center {
    flex: 0 0 calc(50% - 1rem);
}

.form-input-control {
    border: 1px solid !important;
    outline-width: 1px !important;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=phone],
input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 1.2rem;
    text-indent: 3px;
}

select {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}
#contact-textarea {
    width: 100%;
}
.btn {
    background-color: #000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1rem;
}

.btn-primary {
    width: 15em;
    padding: .9em;
    margin-top: .7em;
    border-end-end-radius: 25%;
    background: #000;
    color: #fff;
    border: 0;
    font-size: 1em;
    font: 100%/1.5 Tahoma, Helvetica, sans-serif;
}

.btn-secondary {
    width: 100%;
    font: 100%/1.5 Tahoma, Helvetica, sans-serif;
    margin-top: .6em;
}

.form-input {
    padding: 0.25rem 0;
    margin: 1rem 0;
    font-size: 1.2rem;
    text-indent: 5px;
    background: transparent;
}
.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/trip4.jpg") center/cover no-repeat fixed;
    min-height: 380px;
    /* height: 100vh; */
    position: relative;
}
#login-form span, #signup-form span, #reset-form span{
    position: absolute;
    margin-top: -1rem;
}
.border-radius{
    border-radius: 10px;
}
#login-form button{
    margin-top: 1.1rem;
    background: #000;
}

#reset-form .col-md-2{
    margin: 0.6rem 0;
}
.flex-height {
    min-height: 100vh;
    padding: 3rem 0;
}
@media screen and (max-width : 768px){
    .responsive-margin-top{
        margin-top: 1rem;
    }
    .flex-right-card{
        margin: -4rem 1rem 1rem;
        justify-items: center;
    }
    #reset-cover{
        flex: 0 0 calc(96% - 1rem);
    }
    #password-reset-section{
        margin-top: 10rem;
    }
}

